In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

sns.set_style('darkgrid')
sns.set(font_scale=1.3)

In [2]:
df1 = pd.read_csv('London_Monthly_Daylight_Hours_Averages.csv', index_col='Date')
df2 = pd.read_csv('London_Monthly_Temperature_Averages.csv', index_col='Date')

In [3]:
df = pd.concat([df1,df2], axis=1)
df = df.reset_index()

In [4]:
df.head()

         Date  daylight_hours  Average Temperature
0  2019-01-31            7.97                 4.47
1  2019-02-28            9.46                 7.11
2  2019-03-31           11.39                 9.03
3  2019-04-30           13.40                 9.95
4  2019-05-31           15.16                12.66

In [5]:
#Format date to same format as 'data month' in the mental health data
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%b-%y')

In [6]:
df.head()

     Date  daylight_hours  Average Temperature
0  Jan-19            7.97                 4.47
1  Feb-19            9.46                 7.11
2  Mar-19           11.39                 9.03
3  Apr-19           13.40                 9.95
4  May-19           15.16                12.66

In [7]:
df.to_csv('merged_weather_temp_and_daylight.csv', index=False)