In [1]:
#Import libraries
import pandas as pd
import datetime
import numpy as np

In [2]:
#load data for the different years
data_2019 = pd.read_csv("C:/Users/HP/Downloads/London_2019_with_daylight_hours.csv")
data_2020 = pd.read_csv("C:/Users/HP/Downloads/London_2020_with_daylight_hours.csv")
data_2021 = pd.read_csv("C:/Users/HP/Downloads/London_2021_with_daylight_hours.csv")

In [3]:
#Concatenate data to have one data set
data = pd.concat([data_2019, data_2020, data_2021])
data.head()

,Low (in Celsius),High (in Celcius),Month,Date,Year,Time,weather_desc,daylight_hours,daylight_mins,daylight_sec
0,6.0,9.0,1,1,2019,0,Overcast.,7.0,55.0,44.0
1,7.0,10.0,1,1,2019,6,Partly sunny.,7.0,55.0,44.0
2,8.0,10.0,1,1,2019,12,Partly sunny.,7.0,55.0,44.0
3,4.0,8.0,1,1,2019,18,Overcast.,7.0,55.0,44.0
4,2.0,4.0,1,2,2019,0,Overcast.,7.0,56.0,55.0

In [4]:
#Check the data types of columns
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4384 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Low (in Celsius)   4380 non-null   float64
 1   High (in Celcius)  4380 non-null   float64
 2   Month              4384 non-null   int64
 3   Date               4384 non-null   int64
 4   Year               4384 non-null   int64
 5   Time               4384 non-null   int64
 6   weather_desc       4381 non-null   object
 7   daylight_hours     4268 non-null   float64
 8   daylight_mins      4268 non-null   float64
 9   daylight_sec       4268 non-null   float64
dtypes: float64(5), int64(4), object(1)
memory usage: 376.8+ KB

In [5]:
#Create a date column
data["DATE"] = data.apply(lambda x: datetime.date(x['Year'], x['Month'], x['Date']), axis=1)
data.head()

,Low (in Celsius),High (in Celcius),Month,Date,Year,Time,weather_desc,daylight_hours,daylight_mins,daylight_sec,DATE
0,6.0,9.0,1,1,2019,0,Overcast.,7.0,55.0,44.0,2019-01-01
1,7.0,10.0,1,1,2019,6,Partly sunny.,7.0,55.0,44.0,2019-01-01
2,8.0,10.0,1,1,2019,12,Partly sunny.,7.0,55.0,44.0,2019-01-01
3,4.0,8.0,1,1,2019,18,Overcast.,7.0,55.0,44.0,2019-01-01
4,2.0,4.0,1,2,2019,0,Overcast.,7.0,56.0,55.0,2019-01-02

In [6]:
#Drop unneccessary columns
data.drop(columns=["Date", "Month", "Year", "Time"], inplace = True)
data.head()

,Low (in Celsius),High (in Celcius),weather_desc,daylight_hours,daylight_mins,daylight_sec,DATE
0,6.0,9.0,Overcast.,7.0,55.0,44.0,2019-01-01
1,7.0,10.0,Partly sunny.,7.0,55.0,44.0,2019-01-01
2,8.0,10.0,Partly sunny.,7.0,55.0,44.0,2019-01-01
3,4.0,8.0,Overcast.,7.0,55.0,44.0,2019-01-01
4,2.0,4.0,Overcast.,7.0,56.0,55.0,2019-01-02

In [7]:
data.columns

Index(['Low (in Celsius)', 'High (in Celcius)', 'weather_desc',
       'daylight_hours', 'daylight_mins', 'daylight_sec', 'DATE'],
      dtype='object')

In [8]:
#Change order of columns
column_order = ["DATE", 'Low (in Celsius)', 'High (in Celcius)', 'weather_desc', 'daylight_hours', 
                'daylight_mins', 'daylight_sec']

data = data.reindex(columns=column_order)
data.head()

,DATE,Low (in Celsius),High (in Celcius),weather_desc,daylight_hours,daylight_mins,daylight_sec
0,2019-01-01,6.0,9.0,Overcast.,7.0,55.0,44.0
1,2019-01-01,7.0,10.0,Partly sunny.,7.0,55.0,44.0
2,2019-01-01,8.0,10.0,Partly sunny.,7.0,55.0,44.0
3,2019-01-01,4.0,8.0,Overcast.,7.0,55.0,44.0
4,2019-01-02,2.0,4.0,Overcast.,7.0,56.0,55.0

In [9]:
#Group data by date

#get the description for each day
dates = data.groupby("DATE")

description = []
for date in dates:
    description.append(date[1]['weather_desc'].mode()[0])
    #print(date[0], date[1]['description'].mode()[0])
    
description

['Overcast.',
 'Overcast.',
 'Overcast.',
 'Overcast.',
 'Overcast.',
 'Overcast.',
 'Overcast.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Clear.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Light rain. Partly sunny.',
 'Low clouds.',
 'Overcast.',
 'Fog.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Light rain. Broken clouds.',
 'Passing clouds.',
 'Sunny.',
 'Passing clouds.',
 'Low clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Light rain. Mostly cloudy.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Clear.',
 'Broken clouds.',
 'Clear.',
 'Overcast.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Overcast.',
 'Broken clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Clear.',
 'Clear.',
 'Light rain. More clouds than sun.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Overcast.',
 'Partly sunny.',
 'Overcast.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Clear.',
 'Passing clouds.',
 'Broken clouds.',
 'Clear.',
 'Partly sunny.',
 'Low clouds.',
 'Light rain. Partly sunny.',
 'Fog.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Partly sunny.',
 'Mostly cloudy.',
 'Overcast.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Clear.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Scattered clouds.',
 'Partly sunny.',
 'Overcast.',
 'Sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Partly sunny.',
 'Overcast.',
 'Broken clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Overcast.',
 'Partly sunny.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Broken clouds.',
 'Sunny.',
 'Broken clouds.',
 'Light rain. Broken clouds.',
 'Broken clouds.',
 'Light rain. Low clouds.',
 'Partly sunny.',
 'Light rain. More clouds than sun.',
 'Broken clouds.',
 'Scattered clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Scattered clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Sunny.',
 'Passing clouds.',
 'Sunny.',
 'Clear.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Sunny.',
 'Partly sunny.',
 'Overcast.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Broken clouds.',
 'Light rain. Broken clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Broken clouds.',
 'Light rain. Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Sprinkles. Broken clouds.',
 'Broken clouds.',
 'Mostly cloudy.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Partly cloudy.',
 'Broken clouds.',
 'Scattered clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Sunny.',
 'Drizzle. Broken clouds.',
 'Partly cloudy.',
 'Light rain. Mostly cloudy.',
 'Scattered clouds.',
 'Clear.',
 'Passing clouds.',
 'Sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Clear.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Sunny.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Broken clouds.',
 'Clear.',
 'Broken clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Scattered clouds.',
 'Overcast.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Drizzle. Overcast.',
 'Low clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Fog.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Fog.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Low clouds.',
 'Clear.',
 'Drizzle. Partly sunny.',
 'Fog.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Broken clouds.',
 'Fog.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Ice fog.',
 'Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Light rain. Partly sunny.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Overcast.',
 'Light rain. Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Sunny.',
 'Drizzle. Mostly cloudy.',
 'Low clouds.',
 'Overcast.',
 'Low clouds.',
 'Fog.',
 'Dense fog.',
 'Passing clouds.',
 'Overcast.',
 'Passing clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Clear.',
 'Sunny.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Light rain. Mostly cloudy.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Clear.',
 'Passing clouds.',
 'Fog.',
 'Overcast.',
 'More clouds than sun.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Passing clouds.',
 'Drizzle. Partly sunny.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Partly sunny.',
 'Scattered clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Clear.',
 'Clear.',
 'Partly sunny.',
 'Partly sunny.',
 'Drizzle. Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Overcast.',
 'Broken clouds.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Partly sunny.',
 'Drizzle. Partly sunny.',
 'No weather data available',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Overcast.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Broken clouds.',
 'Clear.',
 'Sunny.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Overcast.',
 'Sunny.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Scattered clouds.',
 'Partly sunny.',
 'Light rain. Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Drizzle. Mostly cloudy.',
 'Overcast.',
 'Partly sunny.',
 'Partly sunny.',
 'Passing clouds.',
 'Broken clouds.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Sunny.',
 'Broken clouds.',
 'Drizzle. Partly sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Drizzle. Mostly cloudy.',
 'Scattered clouds.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Clear.',
 'Passing clouds.',
 'Overcast.',
 'Sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Sunny.',
 'Sunny.',
 'Passing clouds.',
 'Sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Low clouds.',
 'Low clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Clear.',
 'Scattered clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Drizzle. Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Overcast.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Low clouds.',
 'Overcast.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Low clouds.',
 'Clear.',
 'Sunny.',
 'Partly sunny.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Overcast.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Clear.',
 'Low clouds.',
 'Sunny.',
 'Partly cloudy.',
 'Broken clouds.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Light rain. Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Heavy rain. Partly sunny.',
 'Drizzle. Mostly cloudy.',
 'Light rain. Broken clouds.',
 'Partly cloudy.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Scattered clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Clear.',
 'Overcast.',
 'Broken clouds.',
 'Overcast.',
 'Broken clouds.',
 'Overcast.',
 'Light rain. Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Broken clouds.',
 'Drizzle. Mostly cloudy.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Fog.',
 'Fog.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Clear.',
 'Broken clouds.',
 'Mostly cloudy.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Overcast.',
 'Passing clouds.',
 'Fog.',
 'Broken clouds.',
 'Broken clouds.',
 'Sunny.',
 'Fog.',
 'Low clouds.',
 'Low clouds.',
 'Fog.',
 'Passing clouds.',
 'Overcast.',
 'Drizzle. Mostly cloudy.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Fog.',
 'Ice fog.',
 'Clear.',
 'Mostly cloudy.',
 'Fog.',
 'Partly sunny.',
 'Light rain. Mostly cloudy.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Drizzle. Mostly cloudy.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Overcast.',
 'Passing clouds.',
 'Low clouds.',
 'Low clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Low clouds.',
 'Low clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Low clouds.',
 'Ice fog.',
 'Overcast.',
 'Broken clouds.',
 'Broken clouds.',
 'Drizzle. Cloudy.',
 'Drizzle. Partly sunny.',
 'Partly sunny.',
 'Drizzle. More clouds than sun.',
 'Overcast.',
 'Partly sunny.',
 'Drizzle. Mostly cloudy.',
 'Passing clouds.',
 'Overcast.',
 'Clear.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Overcast.',
 'Fog.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Overcast.',
 'Low clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Clear.',
 'Passing clouds.',
 'Broken clouds.',
 'Light snow. Partly sunny.',
 'Light snow. Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Overcast.',
 'Sunny.',
 'More clouds than sun.',
 'Drizzle. Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Overcast.',
 'Passing clouds.',
 'Sunny.',
 'Passing clouds.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Passing clouds.',
 'Haze.',
 'Fog.',
 'Low clouds.',
 'Partly sunny.',
 'Overcast.',
 'Overcast.',
 'Broken clouds.',
 'Clear.',
 'Light rain. Mostly cloudy.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Light rain. Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Partly cloudy.',
 'Partly sunny.',
 'Overcast.',
 'Clear.',
 'Sunny.',
 'Passing clouds.',
 'Overcast.',
 'Partly sunny.',
 'Clear.',
 'Broken clouds.',
 'Clear.',
 'Sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Clear.',
 'Sunny.',
 'Overcast.',
 'Clear.',
 'Clear.',
 'Clear.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Light rain. Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Clear.',
 'Sunny.',
 'More clouds than sun.',
 'Passing clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Light rain. Partly sunny.',
 'Scattered clouds.',
 'Partly sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Clear.',
 'Clear.',
 'Sunny.',
 'Sunny.',
 'Scattered clouds.',
 'Broken clouds.',
 'Sunny.',
 'Clear.',
 'Partly sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Partly sunny.',
 'Light rain. Broken clouds.',
 'Partly sunny.',
 'Light rain. Mostly cloudy.',
 'Partly sunny.',
 'Partly sunny.',
 'Overcast.',
 'Broken clouds.',
 'Sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Passing clouds.',
 'Mostly cloudy.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Mostly cloudy.',
 'Broken clouds.',
 'Light rain. Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Clear.',
 'More clouds than sun.',
 'Partly sunny.',
 'Scattered clouds.',
 'Partly sunny.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Mild.',
 'Sunny.',
 'Sunny.',
 'Sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Broken clouds.',
 'Broken clouds.',
 'Fog.',
 'Passing clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Partly sunny.',
 'Clear.',
 'Partly sunny.',
 'Partly sunny.',
 'More clouds than sun.',
 'More clouds than sun.',
 'Overcast.',
 'Overcast.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Clear.',
 'Sunny.',
 'Haze.',
 'Broken clouds.',
 'Partly sunny.',
 'Partly sunny.',
 'Partly sunny.',
 'Broken clouds.',
 'Haze.',
 'Passing clouds.',
 'Clear.',
 'Partly sunny.',
 'Broken clouds.',
 'Partly sunny.',
 'Broken clouds.',
 'Scattered clouds.',
 'Clear.',
 'Broken clouds.',
 'Passing clouds.',
 'Low clouds.',
 'Fog.',
 'Passing clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Fog.',
 'Passing clouds.',
 'Drizzle. Broken clouds.',
 'Overcast.',
 'Passing clouds.',
 'Scattered clouds.',
 'Clear.',
 'Fog.',
 'Fog.',
 'Fog.',
 'Fog.',
 'Partly sunny.',
 'Passing clouds.',
 'Partly sunny.',
 'Fog.',
 'Partly sunny.',
 'Fog.',
 'Fog.',
 'Drizzle. Low clouds.',
 'Broken clouds.',
 'Passing clouds.',
 'Passing clouds.',
 'Clear.',
 'Partly sunny.',
 'Overcast.',
 'Scattered clouds.',
 ...]

In [10]:
#Find the daily temperature averages
data = data.groupby("DATE").mean().reset_index()

#add description column
data['weather_desc'] = description
data['Average Temperature'] = data.apply(lambda x: (x['Low (in Celsius)'] + x['High (in Celcius)'])/2, axis=1)
data.rename(columns={'DATE':'Date'}, inplace=True)

data.head()

,Date,Low (in Celsius),High (in Celcius),daylight_hours,daylight_mins,daylight_sec,weather_desc,Average Temperature
0,2019-01-01,6.25,9.25,7.0,55.0,44.0,Overcast.,7.750
1,2019-01-02,3.50,5.00,7.0,56.0,55.0,Overcast.,4.250
2,2019-01-03,4.00,4.50,7.0,58.0,12.0,Overcast.,4.250
3,2019-01-04,1.50,3.25,7.0,59.0,34.0,Overcast.,2.375
4,2019-01-05,4.25,4.25,8.0,1.0,2.0,Overcast.,4.250

In [11]:
data.columns

Index(['Date', 'Low (in Celsius)', 'High (in Celcius)', 'daylight_hours',
       'daylight_mins', 'daylight_sec', 'weather_desc', 'Average Temperature'],
      dtype='object')

In [12]:
#Change order of columns
column_order = ["Date", 'Low (in Celsius)', 'High (in Celcius)', 'Average Temperature', 'weather_desc', 
                'daylight_hours', 'daylight_mins', 'daylight_sec']

data = data.reindex(columns=column_order)
data.head()

,Date,Low (in Celsius),High (in Celcius),Average Temperature,weather_desc,daylight_hours,daylight_mins,daylight_sec
0,2019-01-01,6.25,9.25,7.750,Overcast.,7.0,55.0,44.0
1,2019-01-02,3.50,5.00,4.250,Overcast.,7.0,56.0,55.0
2,2019-01-03,4.00,4.50,4.250,Overcast.,7.0,58.0,12.0
3,2019-01-04,1.50,3.25,2.375,Overcast.,7.0,59.0,34.0
4,2019-01-05,4.25,4.25,4.250,Overcast.,8.0,1.0,2.0

In [13]:
data

,Date,Low (in Celsius),High (in Celcius),Average Temperature,weather_desc,daylight_hours,daylight_mins,daylight_sec
0,2019-01-01,6.25,9.25,7.750,Overcast.,7.0,55.0,44.0
1,2019-01-02,3.50,5.00,4.250,Overcast.,7.0,56.0,55.0
2,2019-01-03,4.00,4.50,4.250,Overcast.,7.0,58.0,12.0
3,2019-01-04,1.50,3.25,2.375,Overcast.,7.0,59.0,34.0
4,2019-01-05,4.25,4.25,4.250,Overcast.,8.0,1.0,2.0
...,...,...,...,...,...,...,...,...
1062,2021-12-27,8.75,10.00,9.375,Broken clouds.,7.0,51.0,32.0
1063,2021-12-28,9.75,10.50,10.125,Broken clouds.,7.0,52.0,14.0
1064,2021-12-29,9.50,12.50,11.000,Clear.,7.0,53.0,1.0
1065,2021-12-30,14.00,14.75,14.375,Partly sunny.,7.0,53.0,55.0
1066,2021-12-31,13.00,14.50,13.750,Partly sunny.,7.0,54.0,55.0

In [14]:
#set index as the "Date" column
data.set_index("Date", inplace=True)
data.index = pd.DatetimeIndex(data.index)

In [15]:
#Check for any missing values
data.isnull().sum()

#There is none, therefore we can go on.

Low (in Celsius)       0
High (in Celcius)      0
Average Temperature    0
weather_desc           0
daylight_hours         0
daylight_mins          0
daylight_sec           0
dtype: int64

In [16]:
data.head()

,Low (in Celsius),High (in Celcius),Average Temperature,weather_desc,daylight_hours,daylight_mins,daylight_sec
Date,,,,,,,
2019-01-01,6.25,9.25,7.750,Overcast.,7.0,55.0,44.0
2019-01-02,3.50,5.00,4.250,Overcast.,7.0,56.0,55.0
2019-01-03,4.00,4.50,4.250,Overcast.,7.0,58.0,12.0
2019-01-04,1.50,3.25,2.375,Overcast.,7.0,59.0,34.0
2019-01-05,4.25,4.25,4.250,Overcast.,8.0,1.0,2.0

In [17]:
#Save the data as a csv file
data.to_csv("C:/Users/HP/Desktop/Omdena/Mental Health Project/London_Daily_Weather_Data.csv", 
            index=True, date_format='%Y-%m-%d')

#### Monthly Averages

1. __Temperature__

In [18]:
#Monthly temperature averages
temp = data['Average Temperature'].resample("M").mean()
temp = pd.DataFrame(round(temp, 2))
temp.head()

            Average Temperature
Date
2019-01-31                 4.47
2019-02-28                 7.11
2019-03-31                 9.03
2019-04-30                 9.95
2019-05-31                12.66

In [19]:
#Check if there are missing values
temp["Average Temperature"].isnull().sum()

#Get the observation with missing value
temp[temp["Average Temperature"].isnull()]

            Average Temperature
Date
2020-02-29                  NaN

In [20]:
#Fill the missing value using the mean of the whole year 2020
temp.fillna(temp.iloc[12:24, ].mean(), inplace=True)

In [21]:
#Check if there is still any missing values
temp["Average Temperature"].isnull().sum()

#We're good to go

0

In [22]:
#Save the data as a csv file
temp.to_csv("C:/Users/HP/Desktop/Omdena/Mental Health Project/London_Monthly_Temperature_Averages.csv", 
            index=True, date_format='%Y-%m-%d')

2. __Daylight Hours__

In [23]:
#Monthly Daylight hours averages
daylight_hrs = data['daylight_hours'].resample("M").mean()
daylight_hrs = pd.DataFrame(round(daylight_hrs, 2))
daylight_hrs.head()

            daylight_hours
Date
2019-01-31            7.97
2019-02-28            9.46
2019-03-31           11.39
2019-04-30           13.40
2019-05-31           15.16

In [24]:
#Check if there are missing values
daylight_hrs["daylight_hours"].isnull().sum()

#Get the observation with missing value
daylight_hrs[daylight_hrs["daylight_hours"].isnull()]

            daylight_hours
Date
2020-02-29             NaN

In [25]:
#Fill the missing value using the mean of the whole year 2020
daylight_hrs.fillna(daylight_hrs.iloc[12:24, ].mean(), inplace=True)

In [26]:
#Check if there is still any missing values
daylight_hrs["daylight_hours"].isnull().sum()

#We're good to go

0

In [27]:
#Save the data as a csv file
daylight_hrs.to_csv("C:/Users/HP/Desktop/Omdena/Mental Health Project/London_Monthly_Daylight_Hours_Averages.csv", 
                    index=True, date_format='%Y-%m-%d')

#### Quarterly Averages

1. __Temperature__

In [28]:
# Quarterly temperature averages
Q_temp = data['Average Temperature'].resample("Q").mean()
Q_temp = pd.DataFrame(round(Q_temp, 2))
Q_temp.head()

            Average Temperature
Date
2019-03-31                 6.86
2019-06-30                12.92
2019-09-30                17.84
2019-12-31                 8.38
2020-03-31                 7.31

In [29]:
#Check if there are missing values
Q_temp["Average Temperature"].isnull().sum()

#Everything is alright

0

In [30]:
#Save the data as a csv file
Q_temp.to_csv("C:/Users/HP/Desktop/Omdena/Mental Health Project/London_Quarterly_Temperature_Averages.csv", 
              index=True, date_format='%Y-%m-%d')

2. __Daylight Hours__

In [31]:
#Quarterly Daylight hours averages
Q_daylight_hrs = data['daylight_hours'].resample("Q").mean()
Q_daylight_hrs = pd.DataFrame(round(Q_daylight_hrs, 2))
Q_daylight_hrs.head()

            daylight_hours
Date
2019-03-31            9.61
2019-06-30           14.86
2019-09-30           13.97
2019-12-31            8.60
2020-03-31            9.68

In [32]:
#Check if there are missing values
Q_daylight_hrs["daylight_hours"].isnull().sum()

#We're set

0

In [33]:
#Save the data as a csv file
Q_daylight_hrs.to_csv("C:/Users/HP/Desktop/Omdena/Mental Health Project/London_Quarterly_Daylight_Hours_Averages.csv", 
                      index=True, date_format='%Y-%m-%d')